@tailwind base;
@tailwind components;
@tailwind utilities;

.rdp-root {
  --rdp-accent-color: #01b0cb !important;
  --rdp-accent-background-color: #dffbff !important;
  --rdp-day_button-border-radius: 8px !important;
  --rdp-selected-font: bold medium var(--rdp-font-family) !important;
  --rdp-today-color: coral !important;
}

.scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  display: none;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #057c8e;
  border-radius: 3px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: rgb(172, 201, 229);
}

@layer base {
  html {
    font-family: "Poppins", "sans-serif";
  }

  body {
    @apply bg-off-white mx-auto w-[1280px] overflow-x-hidden;
  }
}

@layer components {
  .login-register {
    @apply flex flex-col justify-center items-center relative w-full min-h-screen;
  }

  .start-block {
    @apply mx-14 py-10 relative;
  }

  .input-box {
    @apply relative flex flex-row w-full h-[50px] my-[30px] border-[1px] rounded-[40px] border-black hover:shadow-[rgba(0,0,0,0.2)_0_0_10px];
  }

  .input-box-input {
    @apply w-full h-full bg-transparent border-none outline-none border-2 border-white/10 rounded-[40px] text-[16px] px-[20px] pr-[45px] py-[20px] placeholder-black;
  }

  .input-box-icon {
    @apply absolute top-3 right-3 -translate-x-1/2 text-lg;
  }

  .error {
    @apply bg-red-100 text-red-800 fixed top-4 left-1/2 transform -translate-x-1/2 w-60 p-4 rounded shadow-lg z-50 flex justify-center items-center text-center;
  }

  .about-outer-div {
    @apply flex flex-row justify-center m-2 h-auto;
  }

  .about-inner-div {
    @apply flex-[50%] bg-blue-100 rounded-lg shadow-lg mr-2;
  }

  .about-h4 {
    @apply text-xl font-semibold text-indigo-600 text-center p-3 pt-4;
  }

  .about-para {
    @apply text-lg text-justify px-5 pb-4 w-full;
  }

  .about-img {
    @apply h-20 flex-[30%];
  }

  .about-img-div {
    @apply flex flex-row items-center w-full;
  }

  .about-img-label {
    @apply text-left text-lg flex-[70%] pl-3;
  }
}
